body{
  background-image: url("../images/Bckgrnd_Neutre.jpg");
}

.Appli{
  margin-top: 2%;
}

.CarouselContainer{
  &>img{
    width: 30%;
  }
}

.sideShow{
  background: linear-gradient(0deg, rgba(69,69,69,1) 0%, rgba(153,153,153,1) 100%);
  border-radius: 20px 20px 20px 20px;
  padding: 2%;
  color: white;
  text-align: center;
  font-family: 'Anton';
}
